<div class="desktop-icons">
    <div class="icon" tabindex="0" data-action="createMyComputerWindow">
        <img src="/assets/img/icons/my-computer.svg" alt="My Computer" />
        <span class="label">My Computer</span>
    </div>
    <div class="icon" tabindex="0" data-action="createRecycleBinWindow">
        <img src="/assets/img/icons/trash-full.svg" alt="Recycle Bin" />
        <span class="label">Recycle Bin</span>
    </div>
    <div class="icon" tabindex="0" data-action="createRuneScapeMessage">
        <img src="/assets/img/icons/runescape.svg" alt="RuneScape" />
        <span class="label">RuneScape.jar</span>
    </div>
    <div class="icon" tabindex="0" data-action="createResumeWindow">
        <img src="/assets/img/icons/pdf.svg" alt="Resume" />
        <span class="label">Resume.pdf</span>
    </div>
    <div class="icon" tabindex="0" data-action="createWhoamiWindow">
        <img src="/assets/img/icons/text-plain.svg" alt="whoami.txt" />
        <span class="label">whoami.txt</span>
    </div>
</div>
