<div class="start-menu" id="start-menu">
    <div class="start-menu-header">
        <img src="/assets/img/icons/user1.svg" alt="User" />
        <strong>Ev</strong>
    </div>
    <div class="start-menu-body">
        <ul class="start-menu-main">
            <li data-action="createFirefoxMessage">
                <img src="/assets/img/icons/firefox.svg" width="24" height="24" />
                Internet
            </li>
            <li data-action="createEmailMessage">
                <img src="/assets/img/icons/mail.svg" width="24" height="24" />
                E-mail
            </li>
            <hr />
            <li data-action="createAimMessage">
                <img src="/assets/img/icons/aim.svg" width="24" height="24" />
                AIM
            </li>
            <li data-action="createIcqMessage">
                <img src="/assets/img/icons/ICQ.svg" width="24" height="24" />
                ICQ
            </li>
            <li data-action="createKazaaMessage">
                <img src="/assets/img/icons/kazaa.svg" width="24" height="24" />
                Kazaa
            </li>
            <li data-action="createLimeWireMessage">
                <img src="/assets/img/icons/LimeWire.svg" width="24" height="24" />
                LimeWire
            </li>
            <li data-action="createNeroMessage">
                <img src="/assets/img/icons/nero.svg" width="24" height="24" />
                Nero
            </li>
        </ul>
        <ul class="start-menu-sidebar">
            <li>
                <img src="/assets/img/icons/folder-documents.svg" width="24" height="24" />
                My Documents
            </li>
            <li>
                <img src="/assets/img/icons/folder-music.svg" width="24" height="24" />
                My Music
            </li>
            <li>
                <img src="/assets/img/icons/folder-pictures.svg" width="24" height="24" />
                My Pictures
            </li>
            <li>
                <img src="/assets/img/icons/folder-videos.svg" width="24" height="24" />
                My Videos
            </li>
            <hr />
            <li data-action="createPuttyMessage">
                <img src="/assets/img/icons/putty.svg" width="24" height="24" />
                PuTTY
            </li>
            <li data-action="createNetworkPlacesMessage">
                <img src="/assets/img/icons/network-places.svg" width="24" height="24" />
                Network Places
            </li>
            <li data-action="createFirewallMessage">
                <img src="/assets/img/icons/firewall.svg" width="24" height="24" />
                Firewall
            </li>
            <hr />
            <li data-action="createControlPanelMessage">
                <img src="/assets/img/icons/control-panel.svg" width="24" height="24" />
                Control Panel
            </li>
            <li data-action="createRegeditMessage">
                <img src="/assets/img/icons/regedit.svg" width="24" height="24" />
                Regedit
            </li>
            <li data-action="createCmdWindow">
                <img src="/assets/img/icons/cmd.svg" width="24" height="24" />
                CMD Prompt
            </li>
        </ul>
    </div>
</div>
